
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
body {    
    margin: 0 !important;
    padding: 0 !important;
}
#viss
{	
	 width: 200px;
        height: 600px;
        
        margin:100px auto 0px auto;
}
#poga
{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	margin-top:10px;
	font-size:25px;
	background-color:#9933ff;
	border-color:#cc00ff;
	color:white;
}
#number
{
	width:calc(100% - 4px);
	padding-left:0px;
	padding-right:0px;
	font-size:25px;
}
p
{
	text-align:center;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#virsraksts
{
	font-size:40px;
}
#spiegs
{
	width:100%;
	height:auto;
}